.tabs {
    width: 900px;
    height: 530px; /* This part sucks */
    margin: 25px;
    clear: both;
    position: relative;
    border: 2px dotted #476077;
    border-radius: 25px;
}

.tab {
    margin-top: 30px;
    float: left;
    border-radius: 15px;
}

.tab label {
    margin-left: 0;
    position: relative;
    padding: 10px;
    left: 1px;
    border: 1px solid #476077;
    color: #152C42;
    background-color: #778899;
}

#first {
    margin-left: 47px;
}

.tab [type=radio] {
    display: none;
}

.content {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #476077;
    border-radius: 25px;
    background: white;
}

[type=radio]:checked ~ label {
    z-index: 2;
    border-bottom: 1px solid white;
    background: grey;
    color: white;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

img {
    width: 250px;
    height: 180px;
    display:block;
}
td:first-child {
    font-weight: bold;
}
td {
    padding: 10px;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}
