body{
    background-color: #C1C9D1;
}

header{
    text-align: center;
    font-weight: bold;
    color: #152C42;
    background-color: lightslategrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navigation{
    display: inline-block;
    width: 150px;
    margin: 10px;
    border: 3px solid #476077;
    border-radius: 7px;
    color: #152C42;
    text-decoration: none;
}

.navigation:hover{
    background-color: #476077;
    color: lightslategrey;
}
footer{
    padding: 15px;
    text-align: right;
    background-color: lightslategrey;
}

iframe{
    width: 80%;
    height: 440px;
    margin: auto;
    border: none;
}

main{
    display: inline;
}

#sidebar{
    width: 15%;
    height: 425px;
    margin: 25px;
    float: right;
    vertical-align: middle;
    flex-wrap: wrap;
    background-color: #778899;
    border: 3px solid #476077 ;
    border-radius: 10px;

}
li{
    list-style-type: none;
    margin-left: 27pt;
    margin-top: 20px;
}

ul:nth-child(first) {
    margin-left: 27pt
}

html, body{
    height: 100%;
}
.footer{
    margin-top:16%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main{
    height: 100%;
}
